<ion-header>
    <ion-toolbar color="primary">
      <ion-title >GENERALE</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>  
  <ion-content>
      <ion-list class="inputLabel">
          <ion-item class="inputItem">
              <ion-label class="addInput-Label" floating>AUTOLOGOUT (min)</ion-label>
              <ion-input class="addInput" [(ngModel)]='auto_logoutS' (change)='onChange($event.target.value)'   type="text"></ion-input>
            </ion-item>
        <!--<ion-item class="inputItem item-leave-height">
          <ion-label class="addInput-Label" stacked>VPN</ion-label>
          <ion-toggle [(ngModel)]="vpn_on" (click)="setPropriety('vpn_on');"></ion-toggle>
        </ion-item>-->
        <ion-item class="inputItem item-leave-height">
            <ion-label class="addInput-Label" stacked>WEBSOCKET</ion-label>
            <ion-toggle [(ngModel)]="websocket_on" (click)="setPropriety('websocket_on');" ></ion-toggle>
          </ion-item>
          <ion-item class="inputItem item-leave-height">
            <ion-label class="addInput-Label" stacked>COMANDI VOCALI</ion-label>
            <ion-toggle [(ngModel)]="comandi_vocali" (click)="setPropriety('comandi_vocali');" ></ion-toggle>
          </ion-item>
          
      </ion-list>
  </ion-content>
  