.bg-class{
    background: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;
    text-align: center;
  }


  ion-button{
    --border-color: gray;
    color: gray;
  }

.badge-class  {
    position: absolute;
    top: 6px;
    left: 91px;
  }