  <ion-list >
    <ion-button color ="medium" fill="clear" expand="full" (click)="openMyProfile()">Profilo
    <ion-icon name="md-arrow-dropright"  end></ion-icon>
    </ion-button>

    <ion-button color ="medium" fill="clear" expand="full" (click)="openSettings()">Settings
        <ion-icon name="md-arrow-dropright"  end></ion-icon>
    </ion-button>
    <ion-button color ="medium" fill="clear" expand="full" (click)="logout()">Logout
      <ion-icon name="md-arrow-dropright"  end></ion-icon>
    </ion-button>
  </ion-list>

