<ion-header>
  <ion-toolbar color="primary">
    <ion-title >SETTINGS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce class="background-content">
  <ion-list class="profile-list">
      <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
          <div class="holiday-card"  [routerLink]="'/general'" routerDirection="forward">
            <h4 class="profile-title">Generale</h4>
            <span class="profile-inner-item">
              
              <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
            </span>
          </div>
        </ion-item>
        <!--
      <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
          <div class="holiday-card"  [routerLink]="'/notifiche'" routerDirection="forward">
            <h4 class="profile-title">Notifiche</h4>
            <span class="profile-inner-item">
              
              <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
            </span>
          </div>
        </ion-item>-->
    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
      <div class="holiday-card"  [routerLink]="'/feedbacks'" routerDirection="forward">
        <h4 class="profile-title">Feedbacks</h4>
        <span class="profile-inner-item">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </span>
      </div>
    </ion-item>
    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
        <ion-button  color="danger" expand="block" (click)="exitKiosk()"> Exit KioskMode</ion-button>
    
    </ion-item><!--
    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
      <div class="holiday-card" (click)="openLocalization()">
        <h4 class="profile-title">Localization</h4>
        <span class="profile-inner-item">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </span>
      </div>
    </ion-item>
    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
      <div class="holiday-card" (click)="openEmailSetting()">
        <h4 class="profile-title">Email Settings</h4>
        <span class="profile-inner-item">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </span>
      </div>
    </ion-item>
    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
      <div class="holiday-card" (click)="openInvoice()">
        <h4 class="profile-title">Invoice Settings</h4>
        <span class="profile-inner-item">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </span>
      </div>
    </ion-item>
    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
      <div class="holiday-card" (click)="openSalary()">
        <h4 class="profile-title">Salary Settings</h4>
        <span class="profile-inner-item">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </span>
      </div>
    </ion-item>
    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
      <div class="holiday-card" (click)="openNotification()">
        <h4 class="profile-title">Notifications</h4>
        <span class="profile-inner-item">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </span>
      </div>
    </ion-item>
    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
      <div class="holiday-card" (click)="openLeaveTypes()">
        <h4 class="profile-title">Leave Types</h4>
        <span class="profile-inner-item">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </span>
      </div>
    </ion-item>-->
  </ion-list>
</ion-content>

