.holiday-card{
    height: 100%;
    width: 100%;
}
.profile-inner-item{
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    height: 100%;
}
ion-icon{
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    height: 100%
}