.align{
    
    display: flex!important;
    align-content: center!important;
    align-items: center!important;

    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  
}
.spacing{
  height: 80px;
}
.title{
  font-weight: bold;
}
.custom-row{
  background: red;
  color: white;
}
ion-spinner {
 
  transform: scale(3);
}
