<ion-content no-bounce padding>
    <div class="login-logo">
     
      <img src="/assets/images/logo.svg" class="logo slide-in">
      <h2 class="login">PASSWORD DIMENTICATA</h2>
      <p class="forgotPasswordText">Il link per il reset della passwor verrà inoltrato al tuo indirizzo email.</p>
      <form (ngSubmit)="forgotPassword()" [formGroup]="forgotpasswordForm">
        <ion-list>
          <ion-item class="loginTextBox">
            <ion-input style="height: 30px!important;" type="text" class="loginInput" placeholder="Username or Email" formControlName="username" required></ion-input>
          </ion-item>
        </ion-list>
        <ion-button type="submit" expand="block">REINVIA PASSWORD</ion-button>
        <div style="width:100%;margin-top:30px;padding: 10px;color: rgba(0, 0, 0, 0.54);">
         <h3 class="forgotPasswordBack" [routerLink]="''" routerDirection="backward">Back to Login</h3>
        </div>
      </form>
    </div>
  </ion-content>
