page-forgotpassword {
    .forgotPasswordText{
        font-size: 16px;
        font-weight: 400;
        color: black;  
        font-family: 'lato-Regular';
    }
    .forgotPasswordBack{
        display: inline-block;
        text-align: right;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 5%;
     
    }
    .text-input {
        margin: 0px !important;
      }
}
.forgotPasswordBack{
    display: inline-block;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5%;
    width: 100%;
}