.working{
    fill: green;
}
.started{
        background: green;
        color: white;
   
}
.flex-div{
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
 } 
.stopped{
    background: red;
    color: white;

}
ion-spinner {

    transform: scale(3);
    }