.home-icon{
    font-size: 13vh;

}
.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .flex-div{
    width:50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
 } 
 .bottom-div{
     border-bottom: solid 1px;
     color: rgb(141, 159, 185);
 }
 .left-div{
    border-left: solid 1px;
    color: rgb(141, 159, 185);
}

