<ion-header>
  <ion-toolbar color="primary">
    <ion-title >FEEDBACKS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-content>
    <ion-list class="inputLabel">
      <ion-item class="inputItem item-leave-height">
        <ion-label class="addInput-Label" stacked>Notifiche Info</ion-label>
        <ion-toggle [(ngModel)]="notify_info" (click)="setPropriety('notify_info');"></ion-toggle>
      </ion-item>
      <ion-item class="inputItem item-leave-height">
          <ion-label class="addInput-Label" stacked>Notifiche</ion-label>
          <ion-toggle [(ngModel)]="notify_alarm" (click)="setPropriety('notify_alarm');"></ion-toggle>
        </ion-item>
      
    </ion-list>
</ion-content>
